<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="menu-coolq-mana" label="★ CoolQ 管理">
    <item label="启动">
      <action name="Execute"><command>/bin/ash -c "wine $CQ_ROOT/CQ*.exe"</command></action>
    </item>
    <item label="快速重启">
      <action name="Execute"><command>gnome-character-map</command></action>
    </item>
  </menu>
  <menu id="menu-coolq-actions" label="★ CoolQ 快捷操作">
    <menu id="submenu-coolq-actions-open" label="打开目录...">
      <item label="coolq/">
        <action name="Execute"><command>/bin/ash -c "wine explorer /root,$CQ_ROOT"</command></action>
      </item>
      <item label="coolq/data/">
        <action name="Execute"><command>/bin/ash -c "wine explorer /root,$CQ_DATA"</command></action>
      </item>
      <item label="coolq/app/">
        <action name="Execute"><command>/bin/ash -c "wine explorer /root,$CQ_APP"</command></action>
      </item>
    </menu>
    <separator />
    <item label="快速清图/语音/表情">
      <action name="Execute">
        <command>/bin/ash -c "rm -rf $CQ_DATA/bface/* && rm $CQ_DATA/image/* && rm -rf $CQ_DATA/log/* && rm $CQ_DATA/record/* && rm -rf $CQ_DATA/show/*"</command>
        <startupnotify>
          <enabled>yes</enabled>
        </startupnotify>
      </action>
    </item>
    <separator />
    <item label="编辑配置文件">
      <action name="Execute"><command>urxvt -e /bin/ash -c "nano $CQ_CONF/CQP.cfg"</command></action>
    </item>
  </menu>
  <menu id="menu-tools" label="常用工具">
    <item label="URxvt 终端模拟器">
      <action name="Execute"><command>urxvt</command></action>
    </item>
    <item label="Nano 文本编辑器">
      <action name="Execute"><command>urxvt -geometry 85x20 -e "nano"</command></action>
    </item>
    <item label="Htop 任务管理器">
      <action name="Execute"><command>urxvt -geometry 85x20 -e "htop"</command></action>
    </item>
    <separator />
    <item label="Wine Explorer 文件管理器">
      <action name="Execute"><command>wine explorer</command></action>
    </item>
    <item label="Wine Taskmgr 任务管理器">
      <action name="Execute"><command>wine taskmgr</command></action>
    </item>
    <item label="Wine Regedit 注册表编辑器">
      <action name="Execute"><command>wine regedit</command></action>
    </item>
    <item label="Wine Notepad 文本编辑器">
      <action name="Execute"><command>wine notepad</command></action>
    </item>
  </menu>
  <menu id="menu-maintain" label="系统组件">
    <menu id="submenu-maintain-vcruntime" label="Visual C++ 运行库">
      <item label="以下选项全部安装"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks vcrun6 vcrun2003 vcrun2005 vcrun2008 vcrun2010 vcrun2012 vcrun2013 vcrun2019"</command></action></item>
      <item label="Visual C++ 6 Redistributable Package"><action name="Execute"><command>urxvt +hold -e "winetricks vcrun6"</command></action></item>
      <item label="Visual C++ 2003 Redistributable Package"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks vcrun2003"</command></action></item>
      <item label="Visual C++ 2005 Redistributable Package"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks vcrun2005"</command></action></item>
      <item label="Visual C++ 2008 Redistributable Package"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks vcrun2008"</command></action></item>
      <item label="Visual C++ 2010 Redistributable Package"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks vcrun2010"</command></action></item>
      <item label="Visual C++ 2012 Redistributable Package"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks vcrun2012"</command></action></item>
      <item label="Visual C++ 2013 Redistributable Package"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks vcrun2013"</command></action></item>
      <item label="Visual C++ 2015-2019 Redistributable Package"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks vcrun2019"</command></action></item>
    </menu>
    <menu id="submenu-maintain-dotnet" label=".NET Framework 运行库">
      <item label="以下选项全部安装"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks dotnet35 dotnet40 dotnet45 dotnet46 dotnet47 dotnet471 dotnet472 dotnet48"</command></action></item>
      <item label=".NET Framework 3.5 Redistributable Package"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks dotnet35"</command></action></item>
      <item label=".NET Framework 4.0 Redistributable Package"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks dotnet40"</command></action></item>
      <item label=".NET Framework 4.5 Redistributable Package"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks dotnet45"</command></action></item>
      <item label=".NET Framework 4.6 Redistributable Package"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks dotnet46"</command></action></item>
      <item label=".NET Framework 4.7 Redistributable Package"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks dotnet47"</command></action></item>
      <item label=".NET Framework 4.7.1 Redistributable Package"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks dotnet471"</command></action></item>
      <item label=".NET Framework 4.7.2 Redistributable Package"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks dotnet472"</command></action></item>
      <item label=".NET Framework 4.8 Redistributable Package"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks dotnet48"</command></action></item>
    </menu>
    <menu id="submenu-maintain-others" label="其他 Windows 组件">
      <item label="Mono"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks gdiplus"</command></action></item>
      <item label="GDI+"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks gdiplus"</command></action></item>
      <item label="OLE32"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks ole32"</command></action></item>
      <item label="MS RichEdit Control 2.0 (riched2.0)"><action name="Execute"><command>urxvt -e /bin/ash -c urxvt +hold -e "winetricks riched20"</command></action></item>
      <item label="MS RichEdit Control 3.0 (riched3.0)"><action name="Execute"><command>urxvt -e /bin/ash -c urxvt +hold -e "winetricks riched30"</command></action></item>
      <item label="WinHttp (默认安装)"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks winhttp"</command></action></item>
      <item label="MS Script Control (默认安装)"><action name="Execute"><command>urxvt -e /bin/ash -c "urxvt +hold -e winetricks msscript"</command></action></item>
    </menu>
    <separator label="更多组件请到 Wine 相关设定 > winetricks 内安装"/>
  </menu>
  <menu id="menu-wine" label="Wine 相关设定">
    <item label="winetricks">
      <action name="Execute"><command>winetricks</command></action>
    </item>
    <item label="winecfg">
      <action name="Execute"><command>winecfg</command></action>
    </item>
  </menu>

  <menu id="root-menu" label="Openbox 3">
    <separator label="Openbox3 Menu (。・ω・。)" />
    <menu id="menu-coolq-mana" />
    <menu id="menu-coolq-actions" />
    <separator />
    <menu id="menu-tools" />
    <menu id="menu-maintain" />
    <menu id="menu-wine" />
  </menu>
</openbox_menu>
